## Part 1

### Import Libraries
Firstly we are going to import requests library. Then, we will store the data on a Pandas Dataframe.

In [112]:
import requests
import pandas as pd
import numpy as np

Now we assign the link of the website through which we are going to scrape the data and assign it to variable named website_url.

In [94]:
wikitable = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [101]:
# Storing data into panda dataframe
df_can=pd.read_html(wikitable,keep_default_na=False)[0]

In [98]:
df_can.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [99]:
df_can.shape

(288, 3)

Drop cells with a Borough that is 'Not assigned'

In [128]:
df_canada = df_can[~df_can['Borough'].isin(['Not assigned'])]
df_canada.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [119]:
df_canada.shape

(211, 3)

If a cell has a borough but a 'Not assigned' neighborhood, then the neighborhood will be the same as the borough.

In [137]:
df_canada.Neighbourhood[df_canada.Neighbourhood=='Not assigned']=df_canada.Borough
df_canada.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

More than one neighborhood can exist in one postal code area. For example, M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [135]:
canada_df = df_canada.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)]).reset_index()

In [157]:
# check the result
canada_df.loc[canada_df['Postcode'] == 'M5A']

   Postcode           Borough              Neighbourhood
53      M5A  Downtown Toronto  Harbourfront, Regent Park

In [162]:
# rename a column to match Coursera naming
canada_df.rename(columns={'Postcode': 'PostalCode'}).head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [153]:
print('Number of rows in the dataframe',canada_df.shape)

Number of rows in the dataframe (103, 3)